

<footer class="footer  bg-dark">
<div class="container block-md">
    <div class="d-flex justify-content-between">
        <div class="footer-logo">
            <img src="./img/footer-brand.png" width="100" alt="">
        </div>
        <div class="social-links text-end d-block d-lg-none ">
            <a class="px-2 text-light" href="https://www.twitter.com">
                <em class="bi bi-twitter"></em>
            </a>
            <a class="px-2 text-light" href="https://www.twitter.com">
                <em class="bi bi-linkedin"></em>
            </a>
        </div>

    </div>
    <div class="footer-middle-row d-lg-flex justify-content-between">
        <div class="footer-links inter-font">
            <a href="#" title="founders">Founders</a>
            <a href="#" title="Beneficiaries">Beneficiaries</a>
            <a href="#" title="Scholarships">Scholarships</a>
            <a href="#" title="Press">Press</a>
            <a href="#" title="Blog">Blog</a>
            <a href="#" title="Contact">Contact</a>
        </div>
        <div class="social-links text-end d-none d-lg-block ">
            <a class="px-2" href="https://www.twitter.com">
                <em class="bi bi-twitter"></em>
            </a>
            <a class="px-2" href="https://www.twitter.com">
                <em class="bi bi-linkedin"></em>
            </a>
        </div>
    </div>
</div>
<div class="footer-bottom inter-font pt-lg-5">
  <div class="container ">
   <div class="d-lg-flex align-items-center justify-content-between">
    <div class="pb-4">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
    </div>
    <div class="pb-4">
        &copy; 2021 Company Name. All rights reserved.
    </div>
   </div>
  </div>
</div>
</footer>

<script src="js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
