<footer class=" bg-secondary footer fadetoText p-5 ">
    <div class="container ">
        <div class="row pb-5">
            <div class="col-lg-7 ">
                <h2 class=" line-highlight mb-5">Want to work?</h2>
            </div>
            <div class="col-lg-5">
              <p class="lead">If you need a modern and powerful website for your business, startup or personally, I am available for work. You can email me directly at <a class="line-highlight sm" href="mailto:prncdahal@gmail.com">prncdahal@gmail.com</a></p>
            </div>
        </div>
         <div class="copy-right pb-4 small">
             &copy; 2021. All rights reserved. 
         </div>
    </div>
</footer>



<script src="js/all.js"></script>
</body>
</html>
