<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./img/favicon.png" />
    <title>UI Frontend Skill Test | Outside </title>
  </head>
<body class="home">
  <!-- Top Panel -->
  <div class="top-panel container">
    <div class="top-panel__social_links text-end">
      <a class="top-panel__social_link" href="https://www.twitter.com">
        <em class="bi bi-twitter"></em>
      </a>
      <a class="top-panel__social_link" href="https://www.twitter.com">
        <em class="bi bi-linkedin"></em>
      </a>
    </div>
  </div>
  <!-- End of Top Panel-->


  <!-- Header starts here -->
  <header class="header  overflow-hidden">

    <div class="container header__content__wrapper p-4 p-lg-5 pe-lg-0 bg-light">
      <nav class="header__nav__bar navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="logo" href="#"><img src="./img/logo.svg" width="149"  alt="Cpmpany name"></a>
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="pt-4 pt-lg-0 navbar-nav main-nav__list inter-font">
              <li class="main-nav__item">
                <a class="nav-link main-nav__link " href="#">Founders</a>
              </li>
              <li class="main-nav__item">
                <a class="nav-link main-nav__link" href="#">Beneficiaries</a>
              </li>
              <li class="main-nav__item">
                <a class="nav-link main-nav__link" href="#">Scholarships</a>
              </li>
              <li class="main-nav__item">
                <a class="nav-link main-nav__link" href="#">Press</a>
              </li>
              <li class="main-nav__item">
                <a class="nav-link main-nav__link" href="#">Blog</a>
              </li>
              <li class="main-nav__item">
                <a class="nav-link main-nav__link" href="#">Contact</a>
              </li>
            </ul>
           
          </div>
        </div>
      </nav>
   

      <div class="row align-items-end  header__quote__row">

        <div class="col-lg-9 mb-4">
          <h1 class="text-primary header__lead__text">Ullamcorper diam turpis egestas egestas fames enim risus sed proin</h1>
        </div>
        <div class="col-lg-3 text-lg-end">
          <a href="#" class="btn custom-btn">Read More <em class="bi bi-chevron-right custom-btn__icon"></em></a>
        </div>
        
      </div>
     

      
    </div>
    <div class="text-end "><img  class="header__main_img" src="./img/building.jpg" alt="" ></div>



   

  </header>
  <!-- Header ends here -->





<div id="loader"></div>



