<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./img/favicon.svg" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Mulish:wght@300;400;500;700;800;900&display=swap" rel="stylesheet">

    <title>Chat App website</title>
  </head>
<body>
  <header class="p-4 header header-inner ">
    <span class="bg-overlay"></span>
    <nav class="container d-flex justify-content-between align-items-center mb-auto">
      <a href="/" class="logo">
        <strong>RD.</strong>
      </a>

      <ul class="nav main-nav fw-bold">
        <li class="nav-item"><a href="#" class="line-highlight" aria-current="page">My Work</a></li>
        <li class="nav-item"><a href="mailto:prncdahal@gmail.com" class="line-highlight">Get in Touch</a></li>
        
      </ul>
    </nav>
    <div class="billboard mb-auto text-center">
      <div class="container">

        <h6 class="kerning-text text-disabled mb-4">project showcase</h6>

        <h1 class="mb-4 pb-2">
          Team website
        </h1>
        <div class="col-lg-6 offset-lg-3">
          <p>A full website design and build for a concept team collaboration platform. This website also includes a beautiful blog. I have built the website and the blog in Webflow which has one of the best CMS for blog hosting.</p>
        </div>
      
      </div>

    </div>  <!-- End of billboard -->
  </header>
