<section class="news-callout block">
    <div class="container">
        <h4 class="d-block d-lg-none">Latest News</h4>
        <div class="grid-layout-1 align-items-center">
            <div class="grid-layout-1__lg grid-layout-1__item"> 
                <h4 class="d-none d-lg-block">Latest News</h4>
                <!-- Media  -->
               
                    <a class="news-media news-media--lg " href="#">
                        <img class="news-media__img" src="./img/stadium-one.jpg" alt="stadium-one">
                        <div class="news-media__date__info">
                            November 19
                            <span class="news-media__line__seperator"></span>
                            2020
                        </div>
                        <h2>Molestie molesti metus, tempus in commodo, semper tellus</h2>
                    </a>
                
                 <!-- /.Media ends here -->
                 <a href="#" class="news-media-more-link">See all news <em class="bi bi-chevron-right"></em></a>
            </div>
            <div class="grid-layout-1__md grid-layout-1__item">   <!-- Media  -->
                <a class="news-media" href="#">
                    <img class="news-media__img" src="img/blog-img-1.jpg" alt="stadium-one">
                    <div class="news-media__date__info">
                        November 19
                        <span class="news-media__line__seperator"></span>
                        2020
                    </div>
                    <h3>Molestie molesti metus, tempus in commodo, semper tellus</h3>
                </a>
                 <!-- /.Media ends here -->
                </div>
            <div class="grid-layout-1__sm grid-layout-1__item">  <a class="news-media news-media--sm" href="#">
                <img class="news-media__img" src="./img/blog-media-three.jpg" alt="stadium-one">
                <div class="news-media__date__info">
                    November 19
                    <span class="news-media__line__seperator"></span>
                    2020
                </div>
                <h6>In faucibus suspendisse magna massa nibh elementum augue phasellus tristique senectus urna</h6>
            </a></div>
            <div class="grid-layout-1__sm__2 grid-layout-1__item">  <a class="news-media news-media--sm" href="#">
                <img class="news-media__img" src="./img/blog-media-four.jpg" alt="stadium-one">
                <div class="news-media__date__info">
                    November 19
                    <span class="news-media__line__seperator"></span>
                    2020
                </div>
                <h6>Feugiat mollis quam sollicitudin egestas adipiscing amet</h6>
            </a> </div>
        </div>
        
    </div>
</section>


