// Global Edit


p{
    line-height: 1.7;
}
img{
    max-width: 100%;
}
h3,h4,h5,h6{
    font-family:  $font-family-sans-serif;
}
.line-highlight{
    position: relative;
    display: inline-block;
    transform-style: preserve-3d;
    &:after{
        content: "";
        display: inline-block;
        height: 15px;
        background-color:$primary;
        width: 50%;
        position: absolute;
        bottom:15px;
        z-index: -1;
        left: 0;
       
    }
    &.sm{
        &:after{
            height: 10px;
            bottom: 5px;
        }
    }
}

// Hove line animation
.line-link{
    display: inline-block;
    position: relative;
    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 2px;
        background-color: #000;
        left: 0;
        transition: all 300ms ease;
    }
    &:hover{
        &:after{
            transform: scale(0);
        }
    }
}

.kerning-text{
    color:$color7;
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: bold; 
    text-transform: uppercase; 
}