
// Typo

.inter-font{
    font-family: "Inter";
}
// Global Edit
body{
    @include media-breakpoint-down(md) { 
        font-size: 14px;
      }
}
p{
    line-height: 1.7;
}
img{
    max-width: 100%;
}
h1{
    line-height: 1.1;
}

h4{
    font-family: $inter-font;
}
h1,h2,h3,h4,h6{
  color:#3C3C3C
}
h1{
    @include media-breakpoint-down(md) { 
       font-size: 32px;
     }
}
h2{
    @include media-breakpoint-down(md) { 
        font-size: 24px;
      }
}
h3{
    @include media-breakpoint-down(md) { 
        font-size: 20px;
      }
}
h4{
    font-size: 24px;
    text-transform: uppercase;
    color: $primary;
    font-weight: bold;
    padding-bottom: 50px;
    @include media-breakpoint-down(md) { 
        font-size: 18px;
      }
}
h5{
    @include media-breakpoint-down(md) { 
        font-size: 14px;
      }
}


// Spacings

// Padding
.pl-60{
    padding-left:3.33rem;
    @include media-breakpoint-down(sm) {
        padding-left:1.33rem;
     }
}

.pr-60{
    padding-right:3.33rem;
    @include media-breakpoint-down(sm) {
        padding-right:1.33rem;
     }
}

// Margin
.ml-60{
    margin-left:3.33rem;
    @include media-breakpoint-down(sm) {
        margin-left:1.33rem;
     }
}

.mr-60{
    margin-right:3.33rem;
    @include media-breakpoint-down(sm) {
        margin-right:1.33rem;
     }
}

// block-spacing
.block{
    padding-top: 8rem;
    padding-bottom: 8rem;
    &-top{
        padding-top: 8rem;
    }
}

.block-sm{
    padding-top: 4rem;
    padding-bottom: 4rem;
    &-top{
        padding-top: 4rem;
    }
}

.block-md{
    padding-top: 5.33rem;
    padding-bottom: 5.33rem;
}
